$darkblue:#2C333B;
$white:#ffffff;
$off-white:#f0f0f0;
$black:#000000;
$grey:#7e848b;
$light-grey:#666d75;
$lightest-grey:#b3bac2;
$border-grey:#3f454d;
$dark-btn:#303a46;
$lightdark-white:#bdc0c4;
$light-green:#5dd6ad;
$sky-bg:#00c2ff;
$sky-font:#33a7ce;
$blackish:#565656;
$para-color:#abb1b7;
$card-title:#38444b;
$body-color:#888c8d;
$bg-sky:#38c4c5;
$nav-font:#e4e4e4;

//font family
$lato:'Lato', sans-serif;
$montserrat:'Montserrat', sans-serif;

